@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@model DetailsQuizViewModel

@{int i = 1;}

@{
    ViewData["Title"] = "Details Quiz";
}

<h1>Quiz - @Html.DisplayFor(model => model.Quiz.Title)</h1>


<table class="table table-hover pt-3">
    <thead class="pt-3">
    </thead>
    <tbody>
        @if (Model.Questions.Any())
        {
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td colspan="5">
                        @(i++) - @Html.DisplayFor(modelItem => question.QuestionText)
                    </td>

                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("edit") || User.IsInRole("view")))
                    {
                        <td colspan="1">
                            <a asp-controller="Questions" asp-action="Details" asp-route-id="@question.QuestionId">See Answers</a>
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row">
                    <h4 class="alert-heading alert-info">There are no questions for the requested quiz.</h4>
                </th>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>