@model Question

@{
    ViewData["Title"] = "Create - Question";
    ViewData["Info"] = TempData["info"];
}

@if (TempData["info"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading"> @ViewData["info"] </h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>Create Question</h1>

<h4>@Model.QuestionText</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="QuizId" />
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Quizzes" asp-action="Edit" asp-route-id="@Model.QuizId">Back to Quiz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
